/* Simple layout for dashboard */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background: none;
  border-radius: 0;
  padding: 0;
  min-height: unset;
  box-shadow: none;
}

@media (max-width: 900px) {
  section {
    min-height: unset;
    padding: 0;
  }
}
